*.xcodeproj
Makefile
*.plist
*.xcconfig
bin
config.make
.DS_Store
of.entitlements*.qbs.user
*.qbs
bind/*.app
openFrameworks-Info.plist
.DS_Store,
config.make,
Makefile,
.AppleDouble,
*.qbs.user
bind/*.app
bin,
