*.plist
of.entitlements*.qbs.user
.DS_Store,
config.make,
Makefile,
.AppleDouble,
bin,
*.qbs.user
*.qbs
*.xcconfig
bind/*.app
openFrameworks-Info.plist
*.xcodeproj
.DS_Store
config.make
Makefile
.AppleDouble
bin
